*.log
.DS_Store
node_modules
dist
.env
## IDE
.idea
.vscode

## Generated
artifacts
cache
/contracts
/typechain


## Subgraph
subgraph
subgraph.template.yaml
subgraph.yaml
schema.graphql
abis
build
config
docker
generated